[submodule "frontend"]
	path = frontend
	url = https://github.com/CodeBrosLab/SocialSphere-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/CodeBrosLab/SocialSphere-backend.git
